.main__menu {
  position: relative;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: fit-content;
  cursor: pointer;
  padding: 0 0 0.5rem 0.5rem;
}
.full_name {
  font-size: 1.5rem;
  color: var(--Green-Teal);
}

.main__menu:hover + .sub__menu {
  visibility: visible;
  opacity: 1;
}
.sub__menu:hover {
  visibility: visible;
  opacity: 1;
}

.sub__menu {
  background-color: var(--Muted-Blue);
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 70%;
  right: 0;
  margin-right: 2rem;
  transition: all 0.1s ease-in-out;
}

a:first-child {
  border-radius: 5px 5px 0 0;
}

a:last-child {
  border-radius: 0 0 5px 5px;
}
