:root {
  --Green-Teal: #04b471;
  --Muted-Blue: #2d7a9c;
  --Peacock-Blue: #0c6291;
  --Ebony-Clay: #292643;
  --Caribbean-Green: #00c897;
  --White: #fff;
  --Dark-Cerulean: #094f6e;
  --Amaranth: #d82148;
  --Paris-Green: #2fd072;
  --Mist-Blue: #666f88;
  --Glacier: #8da9c4;
  --Light-Gray: #d3d3d3;
  --Charcoal-Grey: #404040;
  --Rubber-Ducky-Yellow: #ffd700;
  --Purply-Magenta: #e900ff;
  --Soft-Peach: #eee;
  --Aqua-Haze: #f3f3f3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#root {
  display: grid;
  height: 80vh;
}

body {
  margin-top: 5rem;
  background-color: var(--Soft-Peach);
}
.mapboxgl-map {
  font: initial;
}
/* Set width to PopupLayer  */
.mapboxgl-map .mapboxgl-popup-content {
  width: 16rem;
  padding: 10px;
  border-radius: 5px;
}
/* Remove mapboxgl logo [.mapboxgl-control-container]*/
.mapboxgl-map .mapboxgl-control-container {
  display: none;
}
