.root {
  display: grid;
  place-items: center;
  min-height: 22rem;
  padding: 2rem;
  border: 1px solid var(--Light-Gray);
  border-radius: 5px;
}

.picture {
  padding: 0.5rem;
  position: relative;
}

.picture__add,
.layer__update {
  cursor: pointer;
}

.thumbnail__pet {
  display: block;
  border-radius: 5px;
  max-width: 20rem;
  min-width: 6rem;
  max-height: 21rem;
  min-height: 15rem;
}

.picture__thumbnail:hover .thumbnail__pet {
  filter: blur(1px);
}

/* Layer */
.picture__thumbnail:hover .layer {
  opacity: 1;
}
.layer {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.layer__update {
  position: absolute;
  z-index: 4;
}
